<md-dialog aria-label="Add">
    <div class="dialog-box">

        <form name="form"  layout-padding novalidate>
            <md-dialog-content flex>

                <h3>Update Benchmark</h3>

                <div layout="row" layout-wrap layout-align="center center">
                    <md-input-container flex="100">
                        <label>Name</label>
                        <input ng-model="benchmark.name" type="text" name="name" required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Consortium</label>
                        <input ng-model="benchmark.consortium" type="text" name="consortium" required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Type</label>
                        <input ng-model="benchmark.type" type="text" name="type" required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <md-select placeholder="Middleware" ng-model="benchmark.middleware"  required>
                            <md-option ng-value="middleware._id" ng-repeat="middleware in middlewares">{{middleware.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-show="formInvalid" class="error-message" flex="100">
                        <div> All fields required</div>
                    </div>
                </div>



                <md-button class="md-raised md-primary"  ng-click="update
                (form)">
                    Update
                </md-button>

                <md-button class="md-raised md-warn"  ng-click="delete()">
                    Delete
                </md-button>


            </md-dialog-content>
        </form>
    </div>

    <div class="md-actions" layout="row">

        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>