<md-dialog aria-label="Add">
    <div class="dialog-box">

        <form name="form"  layout-padding novalidate>
            <md-dialog-content flex>

                <h3>Update Message Ratio</h3>




                <div layout="row" layout-wrap layout-align="center center">

                    <md-input-container flex="100">
                        <label>Messaging Type</label>
                        <input ng-model="messageRatio.messagingType" type="text"  required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Dimension</label>
                        <input ng-model="messageRatio.numberMessaging" type="text"  required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Delivery Mode</label>
                        <input ng-model="messageRatio.numberBytes" type="text"  required>
                    </md-input-container>


                    <md-input-container flex="100">
                        <md-select placeholder="Middleware" ng-model="messageRatio.middleware"  required>
                            <md-option ng-value="middleware._id" ng-repeat="middleware in middlewares">{{middleware.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-show="formInvalid" class="error-message" flex="100">
                        <div> All fields required</div>
                    </div>
                </div>



                <md-button class="md-raised md-primary"  ng-click="update(form)">
                    Update
                </md-button>

                <md-button class="md-raised md-warn"  ng-click="delete()">
                    Delete
                </md-button>


            </md-dialog-content>
        </form>
    </div>

    <div class="md-actions" layout="row">

        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>