<md-dialog aria-label="Add Item">
    <div class="dialog-box">

        <form name="form" layout="row" layout-padding novalidate>
            <md-dialog-content flex>

                <h3>New Tag</h3>

                    <md-input-container style="width:100%">
                        <label>Tag Name</label>
                        <input ng-model="tag.name" type="text" name="name" required>
                    </md-input-container>

                    <div ng-show="form.name.$touched" class="error-message" style="width:100%">
                        <div ng-show="form.name.$error.required"> Name is required</div>
                    </div>


                    <md-button class="md-raised md-primary"  ng-disabled="!form.$valid"  ng-click="addTag()">
                        Add
                    </md-button>


            </md-dialog-content>
        </form>
    </div>

    <div class="md-actions" layout="row">

        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>