<md-dialog aria-label="Add Item">
    <div class="dialog-box">

        <form name="form" layout="row" layout-padding novalidate>
            <md-dialog-content class="sticky-container" flex >

                <h3>Edit Item</h3>
                <div>
                    <md-input-container flex>
                        <label>Name</label>
                        <input ng-model="item.name" type="text" name="name" required>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Purchase Price</label>
                        <input ng-model="item.purchasePrice" type="number" name="purchasePrice" min="1" required>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Sale Price</label>
                        <input ng-model="item.salePrice" type="number" name="salePrice" ng-min="item.purchasePrice" required>
                    </md-input-container>


                    <md-input-container flex layout-padding>
                        <md-select ng-model="item.identifyBy" name="identifyBy" placeholder="Identify By" required>
                            <md-option value="pc">piece</md-option>
                            <md-option value="kg">kg</md-option>
                            <md-option value="mt">meter</md-option>
                            <md-option value="ft">foot</md-option>
                            <md-option value="cm">centimeter</md-option>
                            <md-option value="in">inch</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <label>In Stock ({{item.identifyBy}})</label>
                        <input ng-model="item.inStock" type="number" name="inStock">
                    </md-input-container>

                    <md-input-container flex layout-padding ng-if="brands.length > 0">
                        <md-select ng-model="item.brand" placeholder="Brand" >
                            <md-option ng-repeat="brand in brands" value="{{brand}}">{{brand}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex layout-padding ng-if="categories.length > 0">
                        <md-select  ng-model="item.category" placeholder="Category">
                            <md-option ng-repeat="category in categories" value="{{category}}">{{category}}</md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-show="form.name.$touched" class="error-message">
                        <div ng-show="form.name.$error.required"> Name is required</div>
                    </div>

                    <div ng-show="form.purchasePrice.$touched" class="error-message">
                        <div ng-show="form.purchasePrice.$error.required"> Purchase price is required</div>
                        <div ng-show="!form.purchasePrice.$valid"> Purchase price must be a number</div>
                    </div>

                    <div ng-show="form.salePrice.$touched" class="error-message">
                        <div ng-show="form.salePrice.$error.required"> Sale price is required</div>
                        <div ng-show="!form.salePrice.$valid"> Sale price must be a number & greater than or equal to purchase price</div>
                    </div>

                    <div ng-show="form.identifyBy.$touched" class="error-message">
                        <div ng-show="form.identifyBy.$error.required"> Identify by is required</div>
                    </div>

                    <div ng-show="form.inStock.$touched" class="error-message">
                        <div ng-show="form.purchasePrice.$error.required"> In stock amount is required</div>
                        <div ng-show="!form.purchasePrice.$valid"> In stock amount must be a number</div>
                    </div>


                    <md-button offset="10" class="md-raised md-primary"  ng-disabled="!form.$valid"  ng-click="editItem()">
                        Update
                    </md-button>
                </div>
            </md-dialog-content>
        </form>
    </div>

    <div class="md-actions" layout="row">

        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>