<md-toolbar layout="row" layout-align="start center" class="toolbar">
    <div class="md-toolbar-tools" hide-gt-md>
        <md-button ng-click="toggleLeft()"><img class="side-nav-menu-icon" src="../images/menu.png" width = 20px; height="20px;" ></md-button>
    </div>
</md-toolbar>


<md-content class="md-padding" >
    <div layout="column">

        <a href="/" style="color: #c0a16b">
            <!--<h4 >-->
                <!--DECISION SUPPORT SYSTEM-->

            <!--</h4>-->
            <img src="../images/coollogo_com-47791361.png" width="200" height="200">
        </a>

    </div>

    <div class="left-nav-list-font" ng-hide="admin">
        <md-divider class="left-side-nav-divider"></md-divider>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/sign-in">Admin Sign In</a>
            </div>
        </div>
    </div>

    <div class="left-nav-list-font" ng-show="admin">
        <md-divider class="left-side-nav-divider"></md-divider>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/application-scenarios">Application Scenario</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/benchmarks">Benchmark</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/hardwares">Hardware</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/message-ratios">Message Ratio</a>
            </div>
        </div>

        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/messages">Messages</a>
            </div>
        </div>

        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/messaging-styles">Messaging Style</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/metrics">Metric</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/middlewares">Middleware</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/performances">Performance</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/roles">Roles</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/scalabilities">Scalability</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/transactions">Transactions</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/transaction-styles">Transaction Style</a>
            </div>
        </div>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="/workloads">Workload</a>
            </div>
        </div>

        <md-divider class="left-side-nav-divider"></md-divider>
        <div layout="row" class="panel-row" >

            <div flex class="panel-row-text" >
                <a href="javascript:void(0)" ng-click="signOut()">Sign Out</a>
            </div>
        </div>

    </div>

</md-content>

