


<section layout="row" flex>
    <md-sidenav ng-include="'views/left-side-nav.html'" class="md-sidenav-left md-whiteframe-z2" id="left-nav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    </md-sidenav>

    <md-content flex>
        <md-toolbar layout="row" layout-sm="column" layout-align="start center" class="toolbar">
            <div flex="15" hide-gt-md flex-sm="100" flex-order-sm="2">
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleLeft()"><img src="../images/menu.png" class="side-nav-menu-icon" width = 20px; height="20px;" ></md-button>
                </div>
            </div>

            <div flex="75" flex-md="60" flex-lg="80" flex-sm="100" flex-order-sm="1">
                <h2 class="md-toolbar-tools">
                    <div class="md-title">
                        <span>Decision Support System for Middleware Benchmarking</span>
                    </div>
                </h2>
            </div>

        </md-toolbar>





        <div layout="row" layout-wrap >
            <div  flex="100">
                <md-card class="md-raised">
                    <md-card-content id="start">



                        <div layout="row" layout-margin layout-wrap>
                            <div flex>
                                <fieldset class="standard" >
                                    <h3>My system supported <b>Middleware</b> </h3>
                                    <div layout="row" layout-wrap flex>
                                        <md-radio-group ng-model="middlewareSelected">
                                            <md-radio-button  value="any" class="md-primary">Any</md-radio-button>
                                            <md-radio-button  ng-repeat="middleware in middlewares" value="{{middleware._id}}" class="md-primary">{{middleware.name}}</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </fieldset>
                            </div>

                            <div flex>
                                <fieldset class="standard" >
                                    <h3><b>Feature</b> I'm looking for</h3>

                                    <md-radio-group ng-model="featureSelected">
                                        <md-radio-button value="benchmarks" class="md-primary">Existing Benchmark</md-radio-button>
                                        <div ng-show="featureSelected == 'benchmarks'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('consortium', selected)" ng-click="toggle('consortium', selected)">
                                                Consortium
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('type', selected)" ng-click="toggle('type', selected)">
                                                Type
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('name', selected)" ng-click="toggle('name', selected)">
                                                Name
                                            </md-checkbox>
                                        </div>


                                        <md-radio-button value="hardwares" class="md-primary">Hardware Requirement</md-radio-button>

                                        <!--<div ng-show="featureSelected == 'hardwares'">-->
                                        <!--<b>Filter down to:</b><br>-->
                                        <!--<md-checkbox ng-checked="exists('minRequirement', selected)" ng-click="toggle('minRequirement', selected)">-->
                                        <!--Minimum Requirement-->
                                        <!--</md-checkbox>-->
                                        <!--</div>-->

                                        <md-radio-button value="messages" ng-show="lookUpMiddleware[middlewareSelected] == 'Message Oriented Middleware (MOM)'" class="md-primary">Message</md-radio-button>
                                        <div ng-show="featureSelected == 'messages'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('dataType', selected)" ng-click="toggle('dataType', selected)">
                                                Data Type
                                            </md-checkbox>

                                            <md-checkbox ng-checked="exists('dimension', selected)" ng-click="toggle('dimension', selected)">
                                                Dimension
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('deliveryMode', selected)" ng-click="toggle('deliveryMode', selected)">
                                                Delivery Mode
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('avgSizeMin', selected)" ng-click="toggle('avgSizeMin', selected)">
                                                Average Size Minimum
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('value', selected)" ng-click="toggle('value', selected)">
                                                Value
                                            </md-checkbox>

                                            <md-checkbox ng-checked="exists('destinationType', selected)" ng-click="toggle('destinationType', selected)">
                                                Destination Type
                                            </md-checkbox>
                                        </div>


                                        <md-radio-button value="message-ratios" ng-show="lookUpMiddleware[middlewareSelected] == 'Message Oriented Middleware (MOM)'" class="md-primary">Message Ratio</md-radio-button>
                                        <div ng-show="featureSelected == 'message-ratios'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('messagingType', selected)" ng-click="toggle('messagingType', selected)">
                                                Messaging Type
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('numberMessaging', selected)" ng-click="toggle('numberMessaging', selected)">
                                                Number Messaging
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('numberBytes', selected)" ng-click="toggle('numberBytes', selected)">
                                                Number Bytes
                                            </md-checkbox>
                                        </div>

                                        <md-radio-button value="messaging-styles" ng-show="lookUpMiddleware[middlewareSelected] == 'Message Oriented Middleware (MOM)'" class="md-primary">Messaging Style</md-radio-button>
                                        <div ng-show="featureSelected == 'messaging-styles'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('dimension', selected)" ng-click="toggle('dimension', selected)">
                                                Dimension
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('size', selected)" ng-click="toggle('size', selected)">
                                                Size
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('deliveryMode', selected)" ng-click="toggle('deliveryMode', selected)">
                                                Delivery Mode
                                            </md-checkbox>

                                        </div>


                                        <md-radio-button value="metrics" class="md-primary">Metric</md-radio-button>
                                        <div ng-show="featureSelected == 'metrics'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('type', selected)" ng-click="toggle('type', selected)">
                                                Type
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('name', selected)" ng-click="toggle('name', selected)">
                                                Name
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('additionalInfo', selected)" ng-click="toggle('additionalInfo', selected)">
                                                Additional Information
                                            </md-checkbox>

                                        </div>

                                        <md-radio-button value="performances" class="md-primary">Performance Factor</md-radio-button>
                                        <!--<div ng-show="featureSelected == 'performances'">-->
                                        <!--<b>Filter down to:</b><br>-->
                                        <!--<md-checkbox ng-checked="exists('factors', selected)" ng-click="toggle('factors', selected)">-->
                                        <!--Factors-->
                                        <!--</md-checkbox>-->

                                        <!--</div>-->

                                        <md-radio-button value="roles" class="md-primary">User Role</md-radio-button>
                                        <div ng-show="featureSelected == 'roles'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('type', selected)" ng-click="toggle('type', selected)">
                                                Type
                                            </md-checkbox>
                                            <!--<md-checkbox ng-checked="exists('number', selected)" ng-click="toggle('number', selected)">-->
                                                <!--Number-->
                                            <!--</md-checkbox>-->
                                            <md-checkbox ng-checked="exists('name', selected)" ng-click="toggle('name', selected)">
                                                Name
                                            </md-checkbox>
                                        </div>

                                        <md-radio-button value="scalabilities" class="md-primary">Scalability</md-radio-button>
                                        <div ng-show="featureSelected == 'scalabilities'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('name', selected)" ng-click="toggle('name', selected)">
                                                Name
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('description', selected)" ng-click="toggle('description', selected)">
                                                Description
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('trafficType', selected)" ng-click="toggle('trafficType', selected)">
                                                Traffic Type
                                            </md-checkbox>
                                        </div>

                                        <md-radio-button value="transactions" ng-show="lookUpMiddleware[middlewareSelected] == 'DBMS'" class="md-primary">Transaction</md-radio-button>
                                        <div ng-show="featureSelected == 'transactions'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('dataType', selected)" ng-click="toggle('dataType', selected)">
                                                Data Type
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('dimension', selected)" ng-click="toggle('dimension', selected)">
                                                Dimension
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('type', selected)" ng-click="toggle('type', selected)">
                                                Type
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('numberMin', selected)" ng-click="toggle('numberMin', selected)">
                                                Number Minimum
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('numberMax', selected)" ng-click="toggle('numberMax', selected)">
                                                Number Maximum
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('tableLayout', selected)" ng-click="toggle('tableLayout', selected)">
                                                Table Layout
                                            </md-checkbox>
                                        </div>

                                        <md-radio-button value="transaction-styles" ng-show="lookUpMiddleware[middlewareSelected] == 'DBMS'" class="md-primary">Transaction Style</md-radio-button>
                                        <div ng-show="featureSelected == 'transaction-styles'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('property', selected)" ng-click="toggle('property', selected)">
                                                Property
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('value', selected)" ng-click="toggle('value', selected)">
                                                Value
                                            </md-checkbox>
                                        </div>

                                        <md-radio-button value="workloads" class="md-primary">Workload</md-radio-button>
                                        <div ng-show="featureSelected == 'workloads'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('type', selected)" ng-click="toggle('type', selected)">
                                                Type
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('measure', selected)" ng-click="toggle('measure', selected)">
                                                Measure
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('computation', selected)" ng-click="toggle('computation', selected)">
                                                Computation
                                            </md-checkbox>
                                        </div>
                                        <md-radio-button value="application-scenarios" class="md-primary">Application Scenario</md-radio-button>
                                        <div ng-show="featureSelected == 'application-scenarios'">
                                            <b>Filter down to:</b><br>
                                            <md-checkbox ng-checked="exists('model', selected)" ng-click="toggle('model', selected)">
                                                Model
                                            </md-checkbox>
                                            <md-checkbox ng-checked="exists('task', selected)" ng-click="toggle('task', selected)">
                                                Task
                                            </md-checkbox>
                                        </div>
                                    </md-radio-group>
                                </fieldset>
                            </div>

                            <div flex  ng-show="featureSelected == 'roles'">
                                <fieldset class="standard" >
                                    <h3> <b>Application Scenario</b> I'm interested in</h3>


                                    <md-radio-group ng-model="appScenarioSelected">
                                        <md-radio-button value="any" class="md-primary">Any</md-radio-button>
                                        <md-radio-button  ng-repeat="appScenario in applicationScenarios" value="{{appScenario._id}}" class="md-primary">{{appScenario.model}}</md-radio-button>
                                    </md-radio-group>
                                </fieldset>
                            </div>

                            <div flex ng-show="featureSelected == 'transaction-styles'">
                                <fieldset class="standard" >
                                    <h3><b>Benchmark</b> that I want</h3>


                                    <md-radio-group ng-model="benchmarkSelected">
                                        <md-radio-button value="any" class="md-primary">Any</md-radio-button>
                                        <md-radio-button value="{{benchmark._id}}" ng-repeat="benchmark in benchmarks" class="md-primary">{{benchmark.name}}</md-radio-button>
                                    </md-radio-group>
                                </fieldset>
                            </div>
                        </div>



                        <!--<md-divider></md-divider>-->
                        <!--<div layout="row" layout-margin layout-wrap>-->
                        <!--<div>-->
                        <!--<fieldset class="standard" >-->
                        <!--<h3>Features</h3>-->

                        <!--<md-radio-group ng-model="featureSelected">-->
                        <!--<md-radio-button value="benchmarks" class="md-primary">Benchmark</md-radio-button>-->
                        <!--<md-radio-button value="hardwares" class="md-primary">Hardware</md-radio-button>-->
                        <!--<md-radio-button value="messages" class="md-primary">Message</md-radio-button>-->
                        <!--<md-radio-button value="message-ratios" class="md-primary">Message Ratio</md-radio-button>-->
                        <!--<md-radio-button value="messaging-styles" class="md-primary">Messaging Style</md-radio-button>-->
                        <!--<md-radio-button value="metrics" class="md-primary">Metric</md-radio-button>-->
                        <!--<md-radio-button value="performances" class="md-primary">Performance</md-radio-button>-->
                        <!--<md-radio-button value="roles" class="md-primary">Role</md-radio-button>-->
                        <!--<md-radio-button value="scalabilities" class="md-primary">Scalability</md-radio-button>-->
                        <!--<md-radio-button value="transactions" class="md-primary">Transaction</md-radio-button>-->
                        <!--<md-radio-button value="transaction-styles" class="md-primary">Transaction Style</md-radio-button>-->
                        <!--<md-radio-button value="workloads" class="md-primary">Workload</md-radio-button>-->
                        <!--<md-radio-button value="application-scenarios" class="md-primary">Application Scenario</md-radio-button>-->
                        <!--</md-radio-group>-->
                        <!--</fieldset>-->
                        <!--</div>-->
                        <!--</div>-->

                        <md-divider></md-divider>
                        <!--<div layout="row" ng-show="featureSelected == 'roles'" layout-margin layout-wrap>-->
                        <!--<div>-->
                        <!--<fieldset class="standard" >-->
                        <!--<h3>What Application Scenario?</h3>-->


                        <!--<md-radio-group ng-model="appScenarioSelected">-->
                        <!--<md-radio-button value="any" class="md-primary">Any</md-radio-button>-->
                        <!--<md-radio-button  ng-repeat="appScenario in applicationScenarios" value="{{appScenario._id}}" class="md-primary">{{appScenario.model}}</md-radio-button>-->
                        <!--</md-radio-group>-->
                        <!--</fieldset>-->
                        <!--</div>-->
                        <!--</div>-->


                        <!--<div layout="row" ng-show="featureSelected == 'transaction-styles'" layout-margin layout-wrap>-->
                        <!--<div>-->
                        <!--<fieldset class="standard" >-->
                        <!--<h3>Benchmark?</h3>-->


                        <!--<md-radio-group ng-model="benchmarkSelected">-->
                        <!--<md-radio-button value="any" class="md-primary">Any</md-radio-button>-->
                        <!--<md-radio-button value="{{benchmark._id}}" ng-repeat="benchmark in benchmarks" class="md-primary">{{benchmark.name}}</md-radio-button>-->
                        <!--</md-radio-group>-->
                        <!--</fieldset>-->
                        <!--</div>-->
                        <!--</div>-->
                        <md-button class="md-raised md-primary" ng-click="submit()">Submit</md-button> <a href="javascript:void(0)" ng-click="resetValues()">reset values</a>






                    </md-card-content>
                </md-card>
            </div>

        </div>




        <div layout="row" layout-wrap >

            <div  flex="100">
                <md-card class="md-raised">
                    <md-card-content >

                        <h3>Or Use Tags</h3 >
                        <md-chips  ng-model="tags" name="tagName" readonly="true" md-max-chips="5">
                            <md-chip-template ng-click="searchByTag($chip)">
                                <strong>{{$chip.name}}</strong>
                            </md-chip-template>
                        </md-chips>

                        <div layout="row" layout-margin layout-wrap id="results">
                            <div>
                                <fieldset class="standard" >
                                    <h3>Results</h3>

                                    <div ng-if="results && !results.length">
                                        No results found
                                    </div>
                                    <!--<div ng-repeat="result in results" >-->
                                    <!--<br>-->
                                    <!--<div>-->
                                    <!--{{$index+1}}-->
                                    <!--</div>-->
                                    <!--<br>-->
                                    <!--<div ng-repeat="(key, value) in result" ng-if="key != '_id' && key != '__v'">-->
                                    <!--<i><u><b> {{key | camelCaseToHuman | capitalize:true}} </b></u></i>:  {{ value }}-->
                                    <!--</div>-->
                                    <!--<br>-->
                                    <!--<md-divider></md-divider>-->
                                    <!--</div>-->


                                    <div ng-repeat="result in results" >

                                        <br>
                                        <span ng-if="featureSelectedCopy">
                                           <b> {{lookUpFeature[featureSelectedCopy]}} </b> &nbsp;
                                        </span>

                                        <span ng-if="featureSelectedCopy && middlewareSelectedCopy && result.middleware">
                                           of <b>{{result.middleware.name}}</b> &nbsp;
                                        </span>


                                         <span ng-if="middlewareSelectedCopy && !featureSelectedCopy">
                                           <b> {{result.name}} </b> &nbsp;
                                        </span>

                                        <span  ng-if="featureSelectedCopy">has &nbsp;</span>

                                        <span ng-repeat="(key, value) in result" ng-if="featureSelectedCopy && key != 'middleware' && key != '_id' && key != '__v'">


                                            <span ng-if="isArray(value) ">
                                                <i><b> {{key | camelCaseToHuman | capitalize:true}} </b></i>:

                                                           <span ng-repeat="element in value">
                                                                  {{ element }}, &nbsp;
                                                           </span>
                                                &nbsp;
                                            </span>

                                             <span ng-if="!isArray(value)">
                                                <i><b> {{key | camelCaseToHuman | capitalize:true}} </b></i>:  {{ value }} &nbsp;
                                            </span>

                                        </span> &nbsp;

                                        <br>
                                        <md-divider></md-divider>
                                    </div>



                                </fieldset>
                            </div>
                        </div>






                    </md-card-content>
                </md-card>
            </div>

        </div>




    </md-content>


</section>
