


<md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="center center">

        <h2>
            <span>DSS </span>
        </h2>
    </div>
</md-toolbar>

<div layout="row" layout-align="center center">


    <form name="form"  layout-padding novalidate>


        <h3>Admin Sign In</h3>

        <div layout="row" layout-wrap layout-align="center center">

            <md-input-container flex="100">
                <label>Email</label>
                <input ng-model="user.email" type="email"  required>
            </md-input-container>

            <md-input-container flex="100">
                <label>Password</label>
                <input ng-model="user.password" type="password"  required>
            </md-input-container>


        </div>


        <div layout="row" style="height: 10px; color:red; margin-bottom: 10px;">
            {{errorMessage}}
        </div>


        <md-button class="md-raised md-primary"  ng-click="signIn()">
            Sign In
        </md-button>



    </form>
</div>
