<md-dialog aria-label="Add">
    <div class="dialog-box">

        <form name="form"  layout-padding novalidate>
            <md-dialog-content flex>

                <h3>Create Middleware</h3>

                <div layout="row" layout-wrap layout-align="center center">


                    <md-input-container flex="100">
                        <label>name</label>
                        <input ng-model="middleware.name" type="text" required>
                    </md-input-container>


                    <div ng-show="formInvalid" class="error-message" flex="100">
                        <div> All fields required</div>
                    </div>
                </div>



                <md-button class="md-raised md-primary"  ng-click="create(form)">
                    Create
                </md-button>


            </md-dialog-content>
        </form>
    </div>

    <div class="md-actions" layout="row">

        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>