<md-dialog aria-label="Add">
    <div class="dialog-box">

        <form name="form"  layout-padding novalidate>
            <md-dialog-content flex>


                <h3>Create Role</h3>

                <div layout="row" layout-wrap layout-align="center center">


                    <md-input-container flex="100">
                        <label>Type</label>
                        <input ng-model="role.type" type="text"  required>
                    </md-input-container>
                    
                    <md-input-container flex="100">
                        <label>Number</label>
                        <input ng-model="role.number" type="number"  required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Name</label>
                        <input ng-model="role.name" type="text" ng-list required>
                    </md-input-container>


                    <md-input-container flex="100">
                        <md-select placeholder="Application Scenario" ng-model="role.applicationScenario"  required>
                            <md-option ng-value="applicationScenario._id" ng-repeat="applicationScenario in applicationScenarios">{{applicationScenario.model}}</md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-show="formInvalid" class="error-message" flex="100">
                        <div> All fields required & should be valid</div>
                    </div>
                </div>



                <md-button class="md-raised md-primary"  ng-click="create(form)">
                    Create
                </md-button>


            </md-dialog-content>
        </form>
    </div>

    <div class="md-actions" layout="row">

        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>