<md-dialog aria-label="Add">
    <div class="dialog-box">

        <form name="form"  layout-padding novalidate>
            <md-dialog-content flex>

                <h3>Create Message</h3>

                <div layout="row" layout-wrap layout-align="center center">
                    
                    <md-input-container flex="100">
                        <label>Data Type</label>
                        <input ng-model="message.dataType" type="text" ng-list required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Dimension</label>
                        <input ng-model="message.dimension" type="text" ng-list required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Delivery Mode</label>
                        <input ng-model="message.deliveryMode" type="text" ng-list required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Average Size Minimum</label>
                        <input ng-model="message.avgSizeMin" type="text" ng-list required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Average Size Maximum</label>
                        <input ng-model="message.avgSizeMax" type="text" ng-list required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Value</label>
                        <input ng-model="message.value" type="text" ng-list required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Destination Type</label>
                        <input ng-model="message.destinationType" type="text" ng-list required>
                    </md-input-container>
                    
                    

                    <md-input-container flex="100">
                        <md-select placeholder="Middleware" ng-model="message.middleware"  required>
                            <md-option ng-value="middleware._id" ng-repeat="middleware in middlewares">{{middleware.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-show="formInvalid" class="error-message" flex="100">
                        <div> All fields required</div>
                    </div>
                </div>



                <md-button class="md-raised md-primary"  ng-click="create(form)">
                    Create
                </md-button>


            </md-dialog-content>
        </form>
    </div>

    <div class="md-actions" layout="row">

        <span flex></span>
        <md-button ng-click="close()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>