<section layout="row" flex>
    <md-sidenav ng-include="'views/left-side-nav.html'" class="md-sidenav-left md-whiteframe-z2" id="left-nav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    </md-sidenav>

    <md-content flex>
        <md-toolbar layout="row" layout-sm="column" layout-align="start center" class="toolbar">

            <div flex="75" flex-md="60" flex-lg="80" flex-sm="100" flex-order-sm="1">
                <h2 class="md-toolbar-tools">
                    <div class="md-title">
                        <span>Application Scenarios</span>

                    </div>
                </h2>
            </div>

        </md-toolbar>

        <div layout="row" layout-wrap layout-padding>
            <div ng-repeat="applicationScenario in applicationScenarios" layout="row" ng-click="openUpdateDialog(applicationScenario, $index)" flex="33" flex-md="100" flex-sm="100" flex-xs="100">
                <div class="card-link" flex>
                    <md-card class="md-raised">
                        <md-card-content >
                            <div layout="row"  layout-wrap layout-align="center center">
                                {{applicationScenario.model}}
                            </div>

                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>

        <div layout="row" layout-align="end end" class="add-button">
            <md-button class="md-fab" ng-click="openCreateDialog($event)" aria-label="Open Create Dialog">
                <img src="/images/add_white.png" style="width: 24px; height: 24px;">
            </md-button>
        </div>

    </md-content>


</section>
